<header class="Header">
    <div class="Header-container">
        <div class="Header-image">
            <img src="/assets/images/Header.png"/>
        </div>
        {% include title-component.html title="Laura Zuluaga" size="large" %}
        {% include star-component.html %}
        <span class="Header-skills">Soy tecnóloga en administración de redes de datos con más de 8 años de experiencia en soporte a usuario final en diferentes campos que componen el área de sistemas.</span>
    </div>
</header>