<section class="SectionComponent SectionComponent--dark">
    {% include title-component.html title="Intereses" modifier="dark" %}
    {% include star-component.html modifier="dark" %}
    <div class="SectionComponent-imageContainer">
        {% include image-component.html %}
        {% include image-component.html %}
        {% include image-component.html %}
        {% include image-component.html %}
        {% include image-component.html %}
        {% include image-component.html %}
    </div>
</section>