<section class="SectionComponent SectionComponent--dark">
    {% include title-component.html title="Intereses" modifier="dark" %}
    {% include star-component.html modifier="dark" %}
    <div class="SectionComponent-imageContainer">
        {% include image-component.html src="/assets/images/Animales.png" %}
        {% include image-component.html src="/assets/images/Peliculas.png" %}
        {% include image-component.html src="/assets/images/Juegos.png" %}
        {% include image-component.html src="/assets/images/Ejercicio.png" %}
        {% include image-component.html src="/assets/images/Comida.png" %}
        {% include image-component.html src="/assets/images/Caminata.png" %}
    </div> 
</section>