<nav class="NavigationBar">
    <div class="NavigationBar-brandContainer">
        <a class="NavigationBar-brand" 
        href="/">zulito93</a>
    </div>
    <div>
        <ul class="NavigationBar-menuContainer">
            <li class="NavigationBar-menuList"><a href= "#portafolio">Portafolio</a></li>
            <li class="NavigationBar-menuList"><a href= "#about">Acerca de</a></li>
            <li class="NavigationBar-menuList"><a href= "#contact">Contacto</a></li>
        </ul>
    </div>
</nav>
