<nav class="NavigationBar">
    <div class="NavigationBar-container">
        <div class="NavigationBar-brandContainer">
            <a class="NavigationBar-brand" href="/">zulito93</a>
            <div id="hamburger" class="NavigationBar-hamburgerContainer">
                <div class="NavigationBar-hamburger">
                    <div class="NavigationBar-hamburgerLine"></div>
                    <div class="NavigationBar-hamburgerLine"></div>
                    <div class="NavigationBar-hamburgerLine"></div>
                </div>
            </div>
        </div>
        <div class="NavigationBar-menuContainer NavigationBar-menuContainer">
            <ul class="NavigationBar-menu">
                <li class="NavigationBar-menuList"><a href= "#interests">Intereses</a></li>
                <li class="NavigationBar-menuList"><a href= "#about">Acerca de</a></li>
                <li class="NavigationBar-menuList"><a href= "#contact">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>
