:root {
    --color-primary: #e78fb3;
    --color-secondary: #ffc0ad;
    --color-tertiary: #9656a1;
    --white: #fffffe;
    --black: #140d0b;
    --brown: #55423d; /*cinder de Duber*/
    --grey: #fff3ec;


    --background: var(--brown);

    --font-size-base: 10px;
    --font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-color-heading: var(--white);
    --font-color-paragraph: var(--grey);

    --font-size-small: 1.5rem;

    --padding-base: 10px;
    
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--background);
    color: var(--font-color-paragraph);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
}

body {
    font-size: var(--font-size-small);
}

h1, h2, h3 {
    color: var(--font-color-heading);
}

p {
    color: var(--font-color-paragraph);
}

.NavigationBar {
    background-color: var(--color-primary);
}

.NavigationBar-brandContainer,
.NavigationBar-menuContainer {
    padding-left: var(--padding-base);
    padding-right: var(--padding-base);
}

.NavigationBar-brandContainer {
    border-bottom: 1px solid var(--grey);
}

.NavigationBar-brand {
    color: var(--white);
    display: block;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 1.5rem 0;
    text-decoration: none;
    text-transform: uppercase;
}

.NavigationBar-brand:hover {
    color: var(--color-secondary);
}

.NavigationBar-menuList [href] {
    color: var(--white);
    display: block;
    font-weight: bold;
    padding: 0.2rem 0;
    text-decoration: none;
    text-transform: uppercase;
}

[href]:hover {
    color: var(--color-secondary);
}